---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Project from "../components/Project.astro";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";
---

<Layout>
  <section id="home" class="flex flex-col">
    <article class="text-gray-950 dark:text-white text-pretty mx-auto">
      <h1 class="text-4xl md:text-6xl font-bold max-w-screen-sm mx-auto">
        👋, I'm Hilary
      </h1>
    </article>
  </section>
  <section id="about" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      About Me
    </h2>
    <article class="flex flex-col md:flex-row gap-4 p-4">
      <Card className="text-gray-600 dark:text-gray-300 h-fit">
        <div class="flex flex-col gap-2 text-sm sm:text-base">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            🧬
          </h3>
          <p>
            I'm a student at the University of British Columbia, studying a combined 
            major in Computer Science and Mathematics.
          </p>
          <p>
            I grew up in Hong Kong. In high school, I moved to Vancouver, and I fell 
            in love with the city ever since.
          </p>
          <p>
            Software is my passion. I love to build things, and I love to learn new
            technologies, while at the same time, applying them to solve real-world
            problems.
          </p>
          <p>
            In my free time, I love to explore. Biking around Vancouver, hiking 
            in the North Shore, skiing on the slopes of Whistler, these are all 
            activities I love to do and enjoy.
          </p>
        </div>
      </Card>
      <Card className="p-8">
        <ol class="relative border-s border-gray-300 dark:border-neutral-800">
          {
            EXPERIENCES.map((experience) => (
              <TimelineItem
                company={experience.company}
                title={experience.title}
                bracket={experience.bracket}
                description={experience.description}
                date={experience.dates}
              >
                <div
                  slot="icon"
                  class="size-full p-1"
                  set:html={experience.svgIcon}
                />
              </TimelineItem>
            ))
          }
        </ol>
      </Card>
    </article>
  </section>
  <section id="projects" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      Projects
    </h2>
    <div class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        PROJECTS.filter((__, i) => i < 3).map((project) => (
          <Project project={project} />
        ))
      }
    </div>
    <div class="mt-6 flex justify-center">
      <a
        role="button"
        href="/projects"
        class="font-semibold transition-colors px-4 py-2 text-base rounded-3xl duration-300 border border-gray-300 dark:border-neutral-800 bg-white/30 dark:bg-gray-950/30 hover:text-gray-500 dark:hover:text-gray-300 dark:text-white"
        >See All Projects</a
      >
    </div>
  </section>
</Layout>
