---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Typewriter from "../components/Typewriter.tsx";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";
import { Technologies } from "../components/Technologies.tsx";
---

<Layout>
  <section
    id="home"
    class="flex flex-col max-w-screen-lg mx-auto px-6 w-full pt-48 md:pt-64 pb-24 md:pb-32"
  >
    <article class="text-gray-950 dark:text-white text-pretty">
      <h1 class="text-4xl md:text-6xl font-semibold">
        <Typewriter client:load text="👋 , I'm Hilary" speed={40} />
      </h1>
      <p
        class="text-xl md:text-2xl mt-4 text-gray-700 dark:text-gray-300 max-w-2xl fade-in-short-section"
      >
        Computer Science & Math @ University of British Columbia
      </p>
    </article>
  </section>

  <section
    id="experience"
    class="flex flex-col bg-gray-100/50 dark:bg-gray-800/50 w-full py-10 scroll-mt-12"
  >
    <div class="max-w-screen-lg mx-auto px-6 w-full">
      <h2
        class="text-3xl font-semibold text-gray-950 dark:text-white mb-4 fade-in-section"
      >
        💼&nbsp;&nbsp;Experiences
      </h2>
      <div class="space-y-6">
        {
          EXPERIENCES.map((experience) => (
            <div class="p-4 bg-white/50 dark:bg-gray-900/30 rounded-lg shadow-sm fade-in-section">
              <h3 class="text-lg font-normal text-gray-900 dark:text-white">
                <span
                  class="inline-block pt-1"
                  style="height: 20px; min-width: 20px;"
                  set:html={experience.svgIcon
                    .replace(/width='[^']*'/, 'width="20"')
                    .replace(/height='[^']*'/, 'height="20"')}
                />
                <span class="font-semibold">{experience.company}</span>-{" "}
                {experience.title}
              </h3>
              <p class="text-md text-gray-600 dark:text-gray-400 mt-1">
                {experience.dates}
              </p>
              {experience.technologies && (
                <Technologies
                  client:load
                  technologies={experience.technologies}
                />
              )}
            </div>
          ))
        }
      </div>
    </div>
    <div class="max-w-screen-lg mx-auto px-6 w-full">
      <h2
        class="text-3xl font-semibold text-gray-950 dark:text-white mt-8 mb-4 fade-in-section"
      >
        📖&nbsp;School
      </h2>
      <div class="space-y-6">
        <div
          class="p-4 bg-white/50 dark:bg-gray-900/30 rounded-lg shadow-sm fade-in-section"
        >
          <h3 class="text-lg text-gray-900 dark:text-white">
            <span class="font-semibold">University of British Columbia</span
            >&nbsp;- Bachelor of Science
          </h3>
          <p class="text-base text-gray-950 dark:text-gray-100 mt-2">
            Combined Major in Computer Science and Mathematics
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    id="projects"
    class="flex flex-col max-w-screen-lg mx-auto px-6 w-full pb-12 scroll-mt-24 alt-theme"
  >
    <h2
      class="text-3xl font-semibold text-gray-950 dark:text-white mb-4 fade-in-section"
    >
      🧑🏻‍💻&nbsp;&nbsp;Projects
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6 fade-in-section">
      {
        PROJECTS.map((project, index) => (
          <div
            class={`flex ${index % 2 === 0 ? "justify-start" : "justify-end"}`}
          >
            <Project project={project} />
          </div>
        ))
      }
    </div>
  </section>

  <section
    id="about"
    class="flex flex-col max-w-screen-lg mx-auto px-6 w-full pb-12 scroll-mt-24"
  >
    <h2
      class="text-3xl font-semibold text-gray-950 dark:text-white mb-4 fade-in-section"
    >
      🙋🏻‍♂️&nbsp;&nbsp;About
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-4 bg-white/50 dark:bg-gray-900/30 rounded-lg shadow-sm fade-in-section"
    >
      <div class="p-4 max-w-[50vw] mx-auto">
        <img
          src="/images/portrait.jpg"
          alt="Profile"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div
        class="text-gray-700 dark:text-gray-300 md:col-span-2 flex flex-col gap-4 justify-center"
      >
        <p>
          I'm a computer science and mathematics student at the University of
          British Columbia. I love building software, solving problems, and
          making things work.
        </p>
        <p>
          Outside of school and work, you'll probably see me skiing, hiking, or
          searching for the best bubble tea in Vancouver.
        </p>
        <p>
          I also enjoy taking photos in my spare time too. You can check out
          some of the photos I've taken on my
          <a
            href="https://www.flickr.com/photos/185440318@N05/"
            class="gradient-link">Flickr</a
          >.
        </p>
      </div>
    </div>
  </section>

  <script>
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
        }
      });
    });

    document.querySelectorAll(".fade-in-section").forEach((el) => {
      observer.observe(el);
    });

    document.querySelectorAll(".fade-in-short-section").forEach((el) => {
      observer.observe(el);
    });

    const themeObserver = new IntersectionObserver(
      ([entry]) => {
        const background = document.querySelector(".background");
        if (entry.isIntersecting) {
          background?.classList.add("opacity-0");
          background?.classList.remove("opacity-100");
        } else {
          background?.classList.remove("opacity-0");
          background?.classList.add("opacity-100");
        }
      },
      {
        threshold: [0.2, 0.2],
      }
    );

    const projectSection = document.getElementById("projects");
    if (projectSection) {
      themeObserver.observe(projectSection);
    }
  </script>
</Layout>
