---
import Tag from "./Tag.astro";
import TiltedCard from "./TiltedCard.tsx";

interface Project {
  name: string;
  description: string;
  urlImg: string;
  link: string;
  type?: string;
  languages: string[];
  frameworks: string[];
}

interface Props {
  project: Project;
}

const { name, urlImg, link, type, languages } = Astro.props.project;
---

<TiltedCard
  client:visible
  imageSrc={urlImg}
  altText={name}
  link={link}
>
  <div>
    <div class="flex flex-row flex-wrap gap-2 mb-2">
      {type && <Tag name={type} primary />}
      {languages.map((language) => (
        <Tag name={language} />
      ))}
    </div>

    <div class="flex">
      <span class="bg-gray-200/90 dark:bg-gray-800/60 rounded-2xl py-1 px-4 border-gray-300 dark:border-gray-700 border-1 backdrop-blur-3xl">
        <span class="font-semibold text-xl text-gray-950 dark:text-gray-100 block group-hover:gradient-text transition-colors duration-300">
          {name}
        </span>
      </span>
    </div>
  </div>
</TiltedCard>
